<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FTC 2013-2014 Northern VA Qualifier - December 14th, 2013</title>
  <link rel="stylesheet" href="/css/style.css">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
  <![endif]-->
  <script src="/js/application.js"></script>
</head>
<body>
<a href="#content" class="sr-only">Skip to Content</a>
<nav>
  <div class="container">
    <a href="/">Home</a>
    <a href="/challenge">Challenge</a>
    <a href="/schedule">Schedule</a>
    <a href="/location">Location</a>
    <a href="/about">Who We Are</a>
    <a href="/lunch">Lunch</a>
    <a href="/outreach">Outreach</a>
    <a href="/volunteer">Volunteer</a>
  </div>
</nav>
<header style="background:url(/img/photo-sm-4.jpg);background-position:center;">
  <a href="/">
    <img src="http://i.imgur.com/uAjIs8D.png" width="322" height="256" alt="FTC"/>
  </a>
  <span>Photo Credit: US FIRST</span>
</header>
<div id="content"></div>
